@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Desembargador Leite Albuquerque<br />
    Fortaleza, Ceará <br />
    <abbr title="Phone">P:</abbr>
     85 999378712
</address>
