@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem Vindo ao Cadastro de Clientes!</h1>
    <p class="lead">Começar a cadastrar e gerenciar Clientes</p>
    <p><a href="/Clientes" class="btn btn-primary btn-lg">CADASTRAR! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aumentando a eficiência do controle de Clientes</h2>
        <p>
            Este site foi projetado para trocar a sua velha agenda física!
        </p>
        <p><a class="btn btn-default" href="http://artigos.softonic.com.br/em-2012-substitua-a-agenda-fisica-pela-virtual">Aprenda mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Controle de Usuários!</h2>
        <p>Com o login e senha é uma segurança a mais para o seu site !</p>
        <p><a class="btn btn-default" href="http://cartilha.cert.br/senhas/">Aprenda mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tudo online!</h2>
        <p>Nunca mais dor de cabeça ao perder Contatos!</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=_WYtyhO5gP8">Aprenda mais &raquo;</a></p>
    </div>
</div>