@{
    ViewBag.Title = "Confirmação de esquecimento do Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor cheque seu email para resetar seu password.
    </p>
</div>
	
