@{
    ViewBag.Title = "Resetar confirmação de password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Seu password foi resetado. Por favor @Html.ActionLink("Clique aqui para Login", "Login", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
